$primary-color:#072753;
$primary-color-light:#1B498A;
$secondary-color:#FF9C00;
$font-color:#28384E;
$primary-font:'HelveticaNeueW01-66MediumIt',sans-serif,arial;
$font-bold:bold;
$font-500:500;
$font-normal:normal;
